body {
    background-color: bisque;
    align-items: center;
}
div {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
form{
    background-color: azure;
    border-radius: 10%;
}